{% block content %}
<div class="toast-container bottom-1 end-1 z-index-2">
    <div class="toast fade hide p-2 bg-white" role="alert" aria-live="assertive" id="successToast" aria-atomic="true">
        <div class="toast-header border-0">
            <i class="material-icons text-success me-2">
                check
            </i>
            <span class="me-auto font-weight-bold">notification.name</span>
            <small class="text-body">notification.time_ago</small>
            <i class="fas fa-times text-md ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
        </div>
        <hr class="horizontal dark m-0">
        <div class="toast-body">
            notification.content
        </div>
    </div>
</div>
{% endblock content %}