{% extends 'layouts/base.html' %}
{% load i18n l10n static %}

{% block title %} Home {% endblock title %}

{% block content %}

<div class="container-fluid py-4">
    <div class="text">
        <h1>Welcome to the Portal template</h1>
    </div>
    {% if request.user.is_authenticated %}
        {% if important_info %}
        <div class="row mb-4">
            <div class="col-lg-12 col-md-6 mb-md-0 mb-4">
                <div class="card">
                    <div class="card-header pb-0 text-bg-warning">
                        <h4>Important information</h4>
                    </div>  
                    <div class="card-body text-bg-warning p-3">
                        {% for info in important_info %}
                            <div class="card p-3 mb-4">
                                <div class="card-header pb-0" style="border-bottom: 0.3em solid">
                                    <h6>
                                    {% if info.severity == "high" %}
                                        <i class="material-icons opacity-10 text-danger">warning</i>
                                    {% elif info.severity == "medium" %}
                                        <i class="material-icons opacity-10 text-warning">warning</i>
                                    {% else %}
                                        <i class="material-icons opacity-10 text-info">error</i>
                                    {% endif %}
                                    {{info.title}}</h6>
                                </div>  
                                <div class="card-body p-3">
                                    <p class="text">From: {{info.start_date}}, {{info.start_time | safe}}</p>
                                    <p class="text">To: {{info.stop_date}}, {{info.stop_time | safe}}</p>
                                    <p class="text">Severity: {{info.severity | title}}</p>
                                    <p class="text">Description: {{info.content}}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    <div class="row">
        <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
            <div class="card h-100">
                <div class="card-header pb-0">
                    <h4>Latest server news</h4>
                    {% if len_server_news %}
                        <p class="text-sm">
                            <i class="fa fa-newspaper-o text-success" aria-hidden="true"></i>
                            {% if len_server_news == 1 %}
                                <span class="font-weight-bold">{{ len_server_news }}</span> new update since the last 7 days
                            {% else %}
                                <span class="font-weight-bold">{{ len_server_news }}</span> new updates since the last 7 days
                            {% endif %}
                        </p>
                    {% else %}
                        <p class="text-sm">
                            <i class="fa fa-newspaper-o text" aria-hidden="true"></i>
                            No new updates since the last 7 days
                        </p>
                    {% endif %}
                </div>
                <div class="card-body">
                    <a class="btn btn-dark w-100" data-bs-toggle="collapse" href="#legend" role="button" aria-expanded="false"
                        aria-controls="legend">
                        Legend
                    </a>
                    <div class="collapse mb-2" id="legend">
                        <div class="card card-body">
                            <p class="text"><i class="material-icons text-info text-gradient">menu_book</i> - Changelog</p>
                            <p class="text"><i class="material-icons text-info text-gradient">info</i> - Information</p>
                            <p class="text"><i class="material-icons text-info text-gradient">build</i> - Maintenance</p>
                            <p class="text"><i class="material-icons text-info text-gradient">upcoming</i> - Upcoming</p>
                        </div>
                    </div>
                    {% for server_new in server_news %}
                    <div class="timeline timeline-one-side">
                        <div class="timeline-block mb-3">
                            <span class="timeline-step">
                                {% if server_new.kind == "changelog" %}
                                    <i class="material-icons text-info text-gradient">menu_book</i>
                                {% elif server_new.kind == "information" %}
                                    <i class="material-icons text-info text-gradient">info</i>
                                {% elif server_new.kind == "maintenance" %}
                                    <i class="material-icons text-info text-gradient">build</i>
                                {% elif server_new.kind == "upcoming" %}
                                    <i class="material-icons text-info text-gradient">upcoming</i>
                                {% else %}
                                    <i class="material-icons text-info text-gradient">code</i>
                                {% endif %}
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-dark text-sm font-weight-bold mb-0"> {{ server_new.content }} </h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"> {{ server_new.date | date }} </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h4>Upcoming maintenance</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Time</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Comment</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in maintenance_schedule %}
                                <tr>
                                    <td class="text-center text-sm">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm"> {{ item.date }} </h6>
                                        </div>
                                    </td>
                                    <td class="text-center text-sm">
                                        <span class="text-xs font-weight-bold"> {{ item.time | safe}} </span>
                                    </td>
                                    <td class="text-center text-sm">
                                        <span class="text-xs font-weight-bold"> {{ item.comment }} </span>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock content %}

