:root {
    --md-primary-fg-color: #127bc6;
}
/* Header */
.md-header,
.md-header-nav,
.md-header__inner {
    background-color: #ffffff !important;
    color: #1f2937 !important;}
    
/* Header - Tabs */
.md-tabs {
    background-color: #1187d6 !important;
}
/* Background color */
.md-main {
  background-color: #efefef;
}
/* Content area */
.md-content {
  background-color: #ffffff;
  min-height: 100vh;
  border-radius: 0.75rem;
  padding: 15px;
}
/*  Links */
.md-typeset a,
.md-nav__link {
  color: #11427d !important;
}
/*  Link hover */
.md-typeset a:hover, 
.md-nav__link:hover {
  color: #127bc6 !important;
}
/*  Link active */
.md-typeset a:active,
.md-nav__link--active {
  color: #127bc6 !important;
}
/* Left sidebar title styling */
.md-sidebar--primary{
  background-color: #ffffff !important;
  border-radius: 0.5rem !important;
  padding-top: 10px;
  margin-right: 10px;
}
.md-sidebar--secondary .md-nav__title {
    color: #2e2e34 !important;
    padding: 8px 12px;
    margin-left: 10px;
    font-weight: 600;
}
/* Right sidebar title styling */
.md-sidebar--secondary{
  padding-top: 0;
  margin-left: 10px;
}

/* Adjust header logo size */
.md-header__button.md-logo img {
    height: 70px;
}

/* Apply primary color to mobile header */
@media (max-width: 76.25em) {
    :root {
        --md-primary-fg-color: #ffffff;
    }
}

/* Increase site name size in header */
.md-header__title {
    font-size: 1.1rem;
}

/* Increase top navigation tabs text size */
.md-tabs__link {
    font-size: 0.8rem;
    font-weight: 600;
}

/* Hide Material footer text */ 
.md-footer-meta__inner {
    display: none !important;
}